.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  .skillsList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 24ch;
    gap: 20px;
    align-self: center;
    span {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 5px;
      img {
        width: 20px;
      }
    }
  }
  hr {
    width: 100px;
    height: 1px;
    border: none;
    background-color: var(--text-clr);
    margin: 20px auto;
  }
}
