.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 20px;
    input,
    textarea {
      width: 200px;
      display: block;
      margin-top: 5px;
      height: 30px;
      border-radius: 10px;
      border: none;
      padding: 5px;
    }
  }
}
